# mac-osx files
.DS_store
profile

# visual-studio files
*.ncb
*.suo
*.vcproj.*.user
*.pdb
*.idb

# xcode files
PLBlocks.framework/*
*.pbxuser
*.mode1v3
*~.nib/ 
*.perspective 
*.perspectivev3
xcuserdata/

# gcc files
*.gch

# exvim files 
*.err
*.err.meta
*.exvim
*.exvim.meta
*.vimentry
*.vimentry.meta
*.vimproject
*.vimproject.meta
.vimfiles.*/
.exvim.*/
quick_gen_project_*_autogen.bat
quick_gen_project_*_autogen.bat.meta
quick_gen_project_*_autogen.sh
quick_gen_project_*_autogen.sh.meta

# project files
vimfiles/bundle/*
