# Set default behaviour, in case users don't have core.autocrlf set.
* binary=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
id-lang.map text eol=lf

