# mac-osx files
.DS_store
profile

# visual-studio files
*.ncb
*.suo
*.vcproj.*.user
*.pdb
*.idb

# xcode files
PLBlocks.framework/*
*.pbxuser
*.mode1v3
*~.nib/ 
*.perspective 
*.perspectivev3
xcuserdata/

# gcc files
*.gch

# exvim files 
_tags
*.err
*.exvim
*.vimentry
*.vimproject
.vimfiles.*/
.exvim.*/
quick_gen_project_*_autogen.bat
quick_gen_project_*_autogen.sh

# project files
vimfiles/bundle/*
